<section id="services" class="my-5 pt-5">
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <div class="service-title-2">
          <h2 class="text">Moon Eyelashes</h2>
          <span class="number">02</span>
        </div>
      </div>
      <div class="col">
        <ul class="text-left">
          <li>Khi bạn gặp vấn đề với lông mày của mình, chọn sai nơi làm cho mình. Bạn đã chỉnh sửa nhưng chưa vừa ý</li>
          <li>Bạn muốn thay đổi đang cho hợp với gương mặt theo tỷ lệ vàng</li>
          <li>Đừng lo lắng hãy đến với Moon Eyebrows, Nghi Nguyen và Team Moon sẽ giúp bạn chỉnh sửa cho bạn, giúp bạn có 1 cặp</li>
        </ul>
        <a href="" class="pricing">Xem bản giá</a>
        <div style="width: 400px;" class="find-more-wrapper mt-5 pl-3 pt-2">
          <h4 class="find-more">
            Gọi đặt lịch ngay 0912 141 241
            <div style="width: 340px;" class="hr-line-pink"></div>
          </h4>
        </div>
      </div>
    </div>

    <div class="hr-line-big mx-auto my-5"></div>

    <div class="row img-row pt-5 my-5">
      <div class="col">
        <p>NỐI MI ONE BY ONE – ONE BY ONE EYELASH</p>
        <h5>500.000 VND</h5>
        <p>Dành cho những bạn thử nối mi lần đầu, hoặc những bạn yêu thích sự tự nhiên, mong manh.</p>
        <p>Nối mi One by One là kỹ thuật đính 1 sợi mi giả lên 1 sợi mi thật. Mang lại nét đẹp trong trẻo, thuần khiết, phù hợp với mọi dáng mắt. Có thể mix sole ngắn dài để trông càng tự nhiên hơn.</p>
        <div style="width: 144px;" class="find-more-wrapper mt-5 pl-3 pt-2">
          <h4 class="find-more">
            Đặt lịch
            <div style="width: 110px;" class="hr-line-pink"></div>
          </h4>
        </div>
      </div>
      <div class="col">
        <img src="https://placeimg.com/480/440/any"/>
      </div>
    </div>

    <hr>

    <div class="row img-row pt-5 my-5">
      <div class="col">
        <p>NỐI MI ONE BY ONE – ONE BY ONE EYELASH</p>
        <h5>500.000 VND</h5>
        <p>Dành cho những bạn thử nối mi lần đầu, hoặc những bạn yêu thích sự tự nhiên, mong manh.</p>
        <p>Nối mi One by One là kỹ thuật đính 1 sợi mi giả lên 1 sợi mi thật. Mang lại nét đẹp trong trẻo, thuần khiết, phù hợp với mọi dáng mắt. Có thể mix sole ngắn dài để trông càng tự nhiên hơn.</p>
        <div style="width: 144px;" class="find-more-wrapper mt-5 pl-3 pt-2">
          <h4 class="find-more">
            Đặt lịch
            <div style="width: 110px;" class="hr-line-pink"></div>
          </h4>
        </div>
      </div>
      <div class="col">
        <img src="https://placeimg.com/480/440/any"/>
      </div>
    </div>

    <hr>

  </div>
</section>

<section id="client-pictures" class="my-5">
  <div class="container">
    <h1 class="text-center">KHÁCH HÀNG ĐÃ LÀM</h1>
    <div class="hr-line-big mx-auto my-5"></div>
    <div class="row my-3">
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-1">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-2">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-3">
      </div>
    </div>
    <div class="row my-3">
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-1">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-2">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-3">
      </div>
    </div>
    <div class="row my-3">
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-1">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-2">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-3">
      </div>
    </div>
    <a href="" class="pricing">Xem thêm</a>
  </div>
  <hr/>

    <div class="row">
      <div class="col page-prev d-flex flex-row">
        <img src="https://placeimg.com/250/300/any"/>
        <div class="txt-wrapper mx-3 mt-5 d-flex flex-column">
          <h2>Nails</h2>
          <a href="" class="btn-prev">Previous</a>
        </div>
      </div>
      <div class="col page-next d-flex flex-row-reverse">
        <img src="https://placeimg.com/250/300/any"/>
        <div class="txt-wrapper mx-3 mt-5 d-flex flex-column">
          <h2>Eyebrows</h2>
          <a href="" class="brn-next">Next</a>
        </div>
      </div>
    </div>
  </div>
</section>
