<div id="scroll-down" class="border-bottom">
  <div class="scroll-wrapper text-center mt-3">
    <h5>Scroll down</h5>
    <div class="sep-line mx-auto"></div>
  </div>
</div>

<section id="courses" class="text-center py-5">
  <h1>KHOÁ ĐÀO TẠO THÁNG 7</h1>
  <div class="hr-line-big mx-auto mt-4"></div>
  <div class="container pt-5">
    <div class="row">
      <div class="col text-left">
        <img src="https://placeimg.com/300/330/animals">
        <h5 class="pt-4">Khoá Điêu khắc Lông Mày</h5>
        <p>Thời gian: Tháng 7, Ngày 6, 7, 8, 9</p>
        <h5>
          Học phí:<br/>
          25,000,000 VND
        </h5>
        <div class="find-more-wrapper mt-4 pl-3 pt-2">
          <h4 class="find-more">
            Tìm hiểu thêm
            <div class="hr-line-pink"></div>
          </h4>
        </div>
      </div>
      <div class="col text-left">
        <img src="https://placeimg.com/300/330/animals">
        <h5 class="pt-4">Khoá Điêu khắc Lông Mày</h5>
        <p>Thời gian: Tháng 7, Ngày 6, 7, 8, 9</p>
        <h5>
          Học phí:<br/>
          25,000,000 VND
        </h5>
        <div class="find-more-wrapper mt-4 pl-3 pt-2">
          <h4 class="find-more">
            Tìm hiểu thêm
            <div class="hr-line-pink"></div>
          </h4>
        </div>
      </div>
      <div class="col text-left">
        <img src="https://placeimg.com/300/330/animals">
        <h5 class="pt-4">Khoá Điêu khắc Lông Mày</h5>
        <p>Thời gian: Tháng 7, Ngày 6, 7, 8, 9</p>
        <h5>
          Học phí:<br/>
          25,000,000 VND
        </h5>
        <div class="find-more-wrapper mt-4 pl-3 pt-2">
          <h4 class="find-more">
            Tìm hiểu thêm
            <div class="hr-line-pink"></div>
          </h4>
        </div>
      </div>
  </div>
</section>
<section id="services" class="text-center py-5">
  <h1>DỊCH VỤ TẠI MOON</h1>
  <div class="hr-line-big mx-auto mt-4"></div>
  <div class="container pt-5">
    <div class="row">
      <div class="col">
        <div class="title-wrapper">
          <h2 class="text">Moon Eye Brown</h2>
          <span class="number">01</span>
        </div>
        <div class="img-wrapper-1">
          <img src="https://placeimg.com/350/350/animals" alt="img-1">
        </div>
      </div>
      <div class="col">
        <ul class="text-left">
          <li>Khi bạn gặp vấn đề với lông mày của mình, chọn sai nơi làm cho mình.</li>
          <li>Bạn đã chỉnh sửa nhưng chưa vừa ý</li>
          <li>Bạn muốn thay đổi đang cho hợp với gương mặt theo tỷ lệ vàng</li>
          <li>Đừng lo lắng hãy đến với Moon Eyebrows , Nghi Nguyen và Team Moon sẽ giúp bạn chỉnh sửa cho bạn, giúp bạn có 1 cặp lông</li>
          <li>Chuyên gia chỉnh sửa lông mày Nghi Nguyen cùng Team Moon hoan nghênh chào đón.</li>
        </ul>
        <a href="" class="pricing">Xem bản giá</a>
        <div class="find-more-wrapper mt-5 pl-3 pt-2">
          <h4 class="find-more">
            Tìm hiểu thêm
            <div class="hr-line-pink"></div>
          </h4>
        </div>
        <div class="img-wrapper-2">
          <img src="https://placeimg.com/450/450/animals" alt="img-1">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="products">

</section>
<footer>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>