<section id="about" class="my-5 pt-5">
  <div class="container">
    <div class="row">
      <img src="https://res.cloudinary.com/buihdk/image/upload/v1538552381/27.png" alt="about banner img" width="100%" height="100%"/>
    </div>
    <div class="row my-5">
      <div class="col">
        <h1>Giới thiệu</h1>
        <p>MOON ra đời từ nhu cầu làm đẹp, mong muốn mang đến các dịch vụ chăm sóc và trị liệu công nghệ cao về làm đẹp cho phái nữ giúp phái nữ tự tin tỏa sáng… và lấy lại năng lượng sau những giờ làm việc căng thẳng.</p>
        <p>MOON luôn đem đến cho khách hàng hài lòng cao bởi sự thân thiện và nhiệt tình của đội ngũ chuyên viên chuyên nghiệp cùng các phương pháp được nghiên cứu, đa dạng đối với từng khách hàng riêng biệt. Bên cạnh đó,MOON luôn thực hiện các chính sách gia tăng giá trị cho khách hàng, chế độ hậu mãi, giá cả phù hợp với mọi đối tượng.</p>
      </div>
      <div class="col">
        <img src="https://placeimg.com/400/400/people" alt="about img1" style="object-fit: cover; width: 100%"/>
      </div>
    </div>
    <div class="row my-5">
      <div class="col">
        <img src="https://placeimg.com/400/400/any" alt="about img2" style="object-fit: cover; width: 100%"/>
      </div>
      <div class="col">
        <p>Với các dịch vụ chăm sóc sắc đẹp hàng đầu, đạt tiêu chuẩn quốc tế, MOON không chỉ nhận được sự quan tâm, tin tưởng của khách hàng tại địa phương, khách du lịch trong nước mà còn rất nhiều du khách nước ngoài. MOON đã trở thành một thương hiệu đẳng cấp bởi các dịch vụ hoàn hảo, chất lượng vượt trội của sản phẩm, chuyên viên về lông mày và lông mi nhiều năm kinh nghiệm, cùng đội ngũ chuyên viên thân thiện, chuyên nghiệp trong nghiệp vụ và tận tình với niềm đam mê nghề. Đó cũng chính là sự khác biệt và tạo dựng nên thương hiệu của MOON trong lòng khách hàng.</p>
      </div>
    </div>
  </div>
</section>