<section id="contact" class="my-5 pb-5">
  <div class="container">
    <h1 class="text-center">Contact</h1>
    <div id="address-1" class="my-5">
      <p><b>Địa chỉ mua hàng trực tiếp hoặc giao hàng tận nơi</b></p>
      <p><b>A:</b> 	212D Trần Hưng Đạo , P Nguyễn Cư Trinh , Q1, TP Hồ Chí Minh</p>
      <p><b>F:</b> 	Moon Beauty (https://www.facebook.com/Moon-Beauty-678530092338337/)</p>
      <p><b>P:</b> 	Ms Chi (0908238185)</p>
      <p><b>T:</b>  8h30 đến 18h các ngày trong tuần</p>
    </div>
    <div id="address-2" class="my-5">
      <p><b>Địa chỉ sử dụng dịch vụ nối mi</b></h5>
      <p><b>A:</b> 	212D Trần Hưng Đạo , P Nguyễn Cư Trinh , Q1, TP Hồ Chí Minh</p>
      <p><b>F:</b> 	Mỹ Ngọc (https://www.facebook.com/nguyen.ngoc.370515)</p>
      <p><b>P:</b> 	Mỹ Ngọc (0967880963)</p>
      <p><b>T:</b>   9h – 19h các ngày trong tuần</p>
    </div>
    <div class="map-wrapper">
      <iframe src="https://maps.google.com/maps?q=212D%20Tr%E1%BA%A7n%20H%C6%B0ng%20%C4%90%E1%BA%A1o%20%2C%20P%20Nguy%E1%BB%85n%20C%C6%B0%20Trinh%20%2C%20Q1%2C%20TP%20H%E1%BB%93%20Ch%C3%AD%20Minh&t=&z=13&ie=UTF8&iwloc=&output=embed"
        width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>