<section class="complete-section">
  <div class="filter-complete form-group">
    <div class="row">
      <div class="col-4">
        <label for="filter-date">Filter:</label>
      </div>
      <div class="col-8">
        <select class="form-control" id="filter-date">
          <option>2018 June</option>
          <option>2018 July</option>
          <option>2018 September</option>
          <option>2018 October</option>
          <option>2018 November</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row course">
    <div class="col-6 main-info">
      <h1 class="title-course">Khoá tháng 6/2018</h1>
      <img src="https://placeimg.com/500/500/people" class="image-course" alt="image-course">
    </div>
    <div class="col-6 students">
      <h5 class="list-student">Danh sách học viên</h5>
      <div class"stu"> hoc sinh </div>
      <div class"stu"> hoc sinh </div>
      <div class"stu"> hoc sinh </div>
      <div class"stu"> hoc sinh </div>
      <div class"stu"> hoc sinh </div>
    </div>
  </div>

</section>
