<section class="complete-section">
  <div class="filter-complete form-group">
    <div class="row">
      <div class="col-4">
        <label for="filter-date">Filter:</label>
      </div>
      <div class="col-8">
        <select class="form-control" id="filter-date">
          <option>2018 June</option>
          <option>2018 July</option>
          <option>2018 September</option>
          <option>2018 October</option>
          <option>2018 November</option>
        </select>
      </div>
    </div>
  </div>
  <% @training_classes.each do |tc|%>
    <div class="row course">
      <div class="col-6 main-info">
        <h1 class="title-course"><%=tc.name%></h1>
        <%= image_tag(tc.image.url, size: "500x500", class: "image-course", alt: "image-course")%>
      </div>
      <div class="col-6 students">
        <h5 class="list-students">Danh sách học viên</h5>
        <% tc.clients.limit(5).each do |st| %>
          <div class="row student">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 image">
              <%= image_tag(st.image.url, size: "48x48", class: "student-image", alt: "student-image")%>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 student-name">
              <%= st.name%>
            </div>
          </div>
        <% end %>
        <div class="see-more mt-4 pl-3 pt-2">
          <b>Xem thêm</b>
        </div>
      </div>
    </div>
  <% end %>
</section>
