<section id="completed-courses">
  <div class="filter-complete form-group">
    <div class="row">
      <div class="col-4">
        <label for="filter-date">Filter:</label>
      </div>
      <div class="col-8">
        <select class="form-control" id="filter-date">
          <option>2018 June</option>
          <option>2018 July</option>
          <option>2018 September</option>
          <option>2018 October</option>
          <option>2018 November</option>
        </select>
      </div>
    </div>
  </div>

  <% @training_classes.each do |tc|%>
  <article class="course-by-month my-3">
    <h2><%=tc.name%></h2>
    <div class="row">
      <div class="col-6">
        <%= image_tag(tc.image.url, size: "500x500", class: "image-course", alt: "image-course")%>
      </div>
      <div class="col-6">
        <h4>Danh sách học viên</h4>
        <% tc.clients.limit(5).each do |st| %>
          <div class="student-wrapper my-3">
            <%= image_tag(st.image.url, size: "48x48", class: "student-img", alt: "student-img") %>
            <%= st.name %>
          </div>
        <% end %>
        <a href="" class="blue-text ml-0">Xem thêm</a>
      </div>
    </div>
  </article>
  <% end %>

</section>
