<section class="course-retros">
  <div class="container-fluid">
    <div class="container-course-infos">
      <header class="current-header">
        <h1 class="title-teacher">Giảng viên</h1>
        <div class="title-master">Master</div>
        <div class="title-name">Nghi Nguyễn</div>
        <img src="https://placeimg.com/300/500/people" class="banner-portrait" alt="banner-portrait">
      </header>
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col description">
          MOON không chỉ dừng lại là nơi làm đẹp cho đời mà còn là nơi đào tạo nghề uy tín. Tại đây, với đội ngũ chuyên gia giảng dạy đầu ngành với trình độ cao sẽ giúp bạn chạm tay đến ước mơ trở thành một chuyên viên thẩm mỹ lành nghề. Tự hào là nơi đã rèn luyện và cho ra đời hàng trăm chuyên viên phun xăm thẩm mỹ giỏi, MOON là cơ sở đầu ngành về dạy nghề phun xăm chất lượng và uy tín nhất tại Việt Nam.
        </div>
      </div>
      <div class="container-course">
        <div class="main-description">
          <div class="line-red"> </div>
          <h1> Khoá học nối mi cơ bản </h1>
          <div class="description">

            <p>-	Khóa học nối mi One By One và mi Thiên Thần </p>
            <p>
              -	Dụng cụ học tập có thể mua ở MoonEyelash ( với ưu đãi giảm 50%) hoặc học viên tự chuẩn bị
            </p>
          </div>
          <div class="line-black"> </div>
          <div class="time-course"> Thời gian: Ngày 1 và ngày 15 hàng tháng </div>
          <div class="price-course">
            <b>Học phí:</b> <br/>
            <b>8.000.000 VND</b>
          </div>
          <div class="buttons row">
            <div class="col-8 apply-course mt-4 pl-3 pt-2">
              <h4 class="apply-course-text">
                Đăng ký khóa học
                <div class="apply-course-shaddow"></div>
              </h4>
            </div>

            <div class="see-more mt-4 pl-3 pt-2">
                <b>Tìm hiểu thêm</b>
            </div>
          </div>
        </div>
        <div class="extra-description"> </div>
        <img src="https://placeimg.com/330/375/people" class="image-course" alt="image-course">
      </div>
    </div>
    <div class="container-sidebar">hello</div>
  </div>
</section>



<section class="course-advantage">
</section>

<section class="course-review">
</section>
