<section class="course-retros">
  <header class="current-header">
    <h1 class="title-teacher">Giảng viên</h1>
    <div class="title-master">Master</div>
    <div class="title-name">Nghi Nguyễn</div>
    <img src="https://placeimg.com/300/500/people" class="banner-portrait" alt="banner-portrait">
    <%# <h2 class="banner-text text-center">Master Nghi Nguyễn</h2>
    <div class="banner-text-wrap"> %>
    </div>
  </header>
</section>

<section class="course-advantage">
</section>

<section class="course-review">
</section>
