<section id="courses" class="my-5 pt-5">
  <ul  class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <%# <ul class="nav nav-tabs justify-content-center"> %>
    <li class="nav-item current-nav-item">
      <a class="nav-link active" id="current-tab" href="#current"  data-toggle="tab" role="tab" aria-controls="current" aria-selected="true">Khóa đang mở</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="completed" aria-selected="false">Khóa hoàn thành</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
      <%=render "current"%>
    </div>
    <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
      <%=render "completed"%>
    </div>
  </div>
</section>
