<section id="courses" class="my-5 pt-5">
<div class="row">
  <div  class="col" >
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">Khóa đang mở</a>
      </li>
    </ul>
  </div>
  <div  class="col" >
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#">Khóa hoàn thành</a>
      </li>
    </ul>
  </div>
  
</section>
