// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#courses {
  @import "shared";
  
  .nav-pills {
    .nav-link {
      font-weight: 900;
      color: #999999;
      background-color: transparent;
      text-decoration: none;
      padding: .5rem 0;
      border-radius: 0;
    }
    .nav-link.active {
      color: black !important;
      border-bottom: 2px solid black;
    }
  }

  .tab-content { border: none !important; }

  #current-courses {
    #banner {
      position: relative;
      .banner-wrapper {
        position: relative;
        height: 500px;
        h2 { padding-top: 2rem; font-size: 36px; font-weight: bold; }
        h1 { font-size: 100px; font-weight: bold; }
        .banner-portrait {
          position: absolute;
          top: 0;
          left: 12rem;
          z-index: -1;
        }
      }
      .banner-info {
        margin-left: 12rem;
      }
    }
    #course-info {
      .sign-up {
        display: flex;
        align-items: flex-end;
      }
      .find-more {
        color: #4A90E2;
        border-bottom: 2px solid #4A90E2;
        text-decoration: none;
        padding: 10px 0;
        margin: 0 30px;
      }
    }
  }

  #completed-courses {

  }
}