// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home {
  @import "shared";
  // banner section
  #banner {
    height: 520px;
    background-color: #080702;
    position: relative;
    .banner-portrait-wrap {
      .banner-portrait { 
        position: absolute; 
        bottom: 0; 
        left: 7rem; 
      }
      .banner-portrait-text {
        position: absolute;
        top: 15rem; 
        left: 28rem;
        color: white; 
      }
    }
    .banner-running-text-wrap {
      position: absolute; left: 0; bottom: 0; width: 100%; z-index: 5;
      font-size: 0; color: #fff; overflow: hidden; padding-bottom: 8.5vh; 
      white-space: nowrap; -webkit-font-smoothing: antialiased;
      .running-text {
        white-space: nowrap; display: inline-block;
        font-size: 152px; line-height: 1.31579;
        letter-spacing: -.02em; width: auto;
        -webkit-animation: textRotate 24s infinite linear 5s;
        -moz-animation: textRotate 24s infinite linear 5s;
        animation: textRotate 24s infinite linear 5s;
        padding-right: .15em; padding-left: .5em;
      }
    }
    @keyframes textRotate {
      0% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
      100% { -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); }
    }
  }

  // scroll-down section
  #scroll-down { 
    height: 70px; background-color: #ffffff; 
    .sep-line { width: 1px; height: 15px; background-color: #333333; }
  }

  // courses section
  #courses {
    position: relative;
    .vertical-text {
      transform: rotate(90deg);
      transform-origin: left top 0;
      position: absolute;
      bottom: 400px;
      right: -450px;
    }
  }

  // services section
  #services {
    position: relative;
    ul { list-style: none; padding-left: 0; }
    li::before { content: "\2014"; position: absolute; left: -24px; }
    .pricing { display: block; text-align: left; }
    // .service-title-1 { position: relative;
    //   .number { font-size: 250px; color: #f3f3f3; position: absolute; top: -90px; left: 100px; z-index: -1; }
    //   .text { font-size: 36px; font-weight: 800; position: absolute; top: 40px; left: 220px; } }
    .float-img-right { position: absolute; top: 50px; right: 0; z-index: -1; height: 900px; }
    .float-img-left { position: absolute; top: 1100px; left: 0; z-index: -1; height: 900px; }
  }

  // popular-products section
  #popular-products {
    hr { border-top: 1px solid #565656 !important; }
  }
}