<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>Moon Nails Eyebrows Eyelashes</h4>
        <p>Tel. 090 397 01 77 | xcherryx82@yahoo.com</p>
        <p>212D Trần Hưng Đạo, P Nguyễn Cư Trinh, Q1, TP Hồ Chí Minh</p>
      </div>
      <div class="col social-icons">
        Youtube Facebook Instagram
      </div>
    </div>
    <div class="footer-logo text-center">
      <img src="https://placeimg.com/200/64/tech" alt="footer-logo"/>
    </div>
    <div class="hotline">
      <p>Hotline: 0912 141 241</p>
    </div>
  </div>
</footer>