<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="https://placeimg.com/100/100/tech" alt="logo-circle" width="50px;">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-5 pt-1"><a class="nav-link" href="#">Trang chủ</a></li>
                <li class="nav-item ml-5 pt-1"><a class="nav-link" href="#">Giới thiệu</a></li>
                <li class="nav-item ml-5 pt-1"><a class="nav-link" href="#">Dịch vụ</a></li>
                <li class="nav-item ml-5 pt-1"><a class="nav-link" href="#">Đào tạo</a></li>
                <li class="nav-item ml-5 pt-1"><a class="nav-link" href="#">Shop</a></li>
                <li class="nav-item ml-5 pt-1"><a class="nav-link" href="#">Liên hệ</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-5 pt-1"><a class="nav-link" href="#">Cart</a></li>
                <li class="nav-item ml-5 pt-1"><a class="nav-link" href="#">VN</a></li>
            </ul>
        </div>
    </div>
  </nav>
  <img src="https://placeimg.com/300/500/people" class="banner-portrait" alt="banner-portrait">
  <h2 class="banner-text text-center">Master Nghi Nguyễn</h2>
  <div class="banner-text-wrap">
    <div class="running-text">MOON EYES BROWN EYE SPLASH NAIL</div>
    <div class="running-text">MOON EYES BROWN EYE SPLASH NAIL</div>
    <div class="running-text">MOON EYES BROWN EYE SPLASH NAIL</div>
  </div>
</header>